/* ============================================= */
/*              Mixins                           */
/* ============================================= */

// Create a flex container
@mixin flexy(
  $disp: flex,
  $dir: null,
  $wrap: null,
  $just: null) {
  display: $disp;
  flex-direction: $dir;
  flex-wrap: $wrap;
  justify-content: $just;
}

// Shared image properties
// @mixin images {
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
//   margin-top: 10px;
//   max-width: 100%;
// }

// Create if mixin for image rule, based on if $style == 'logo'
@mixin image($style) {
  &-#{$style} {
    display: block;
    margin-left: auto;
    margin-right: auto;

    @if $style != 'logo' {
      margin-top: 10px;
      max-width: 100%;
      @content;
    }
  }
}
