/* ============================================= */
/*              Base styles                      */
/* ============================================= */

// Colors
$white: #fff;
$color-text: #777;

$color-primary: #58e1c1;
$color-secondary: #51ddfc;

$color-error: #e4757a;
$color-info: #927bc1;
$color-success: #63cc82;
$color-warning: #fd7856;

// Button colors
$button-themes: (
  'default': $color-secondary,
  'error': $color-error,
  'info': $color-info,
  'success': $color-success,
  'warning': $color-warning,
);

// Column colors
$column-themes: (
  '1': $color-info,
  '2': $color-warning,
  '3': #deb2ee,
  '4': #7ee6fd,
  '5': #88d9a0,
  '6': #4da2bb,
  '7': #ec9fa3,
  '8': #fd9f85,
  '9': #e4757a,
  '10': $color-success,
  '11': $color-secondary,
  '12': #80e8d1,
);

// Breakpoints
$break-m: 768px;

// Column flex-basis % for $break-m
$column-flex-basis: (
  '1': 8.33%,
  '2': 16.67%,
  '3': 25.00%,
  '4': 33.33%,
  '5': 41.67%,
  '6': 50.00%,
  '7': 58.33%,
  '8': 66.67%,
  '9': 75.00%,
  '10': 83.33%,
  '11': 91.67%,
  '12': 100%,
);
