/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.container {
  padding: 0 10px;
  @include mq($break-m) {
    @include centered('container');
  }
}

.row {
  @include flexy($dir: column);
  padding: 1em 10px;
  @include mq($break-m) {
    flex-direction: row;
  }
}

[class^=col] {
  margin-top: 10px;
  flex-basis: 100%;
  min-height: 25px;
  padding: 10px;
  border-radius: 5px;
  @include mq($break-m) {
    @include flexy($just: center);
    margin-top: 0;
    align-items: center;
  }
  & + & {
    margin-left: 10px;
  }
}

.col {
  @include mq($break-m) {
    @each $column, $flex-basis in $column-flex-basis {
      &-#{$column} {
      flex-basis: $flex-basis;
      }
    }
  }
}

.theme {
  @each $theme, $color in $column-themes {
    &.col-#{$theme} {
      background-color: $color;
    }
  }
}

.card {
  flex-basis: 100%;
}

.centered {
  @include mq($break-m) {
    @include centered('centered');
  }
}
