/* ============================================= */
/*              Images                           */
/* ============================================= */

.img {
  &-logo {
    @include centered('logo');
    @include mq($break-m) {
      margin-left: initial;
      margin-right: initial;
    }
  }
  &-avatar {
    @include centered('avatar');
    max-height: 100%;
  }
  &-frame {
    @include centered('frame');
    padding: 13px;
    border: 1px solid #ccc;
  }
}
