/* ============================================= */
/*              Images                           */
/* ============================================= */

.img {
  @include image('logo');
  @include image('avatar') {
    max-height: 100%;
  }
  @include image('frame') {
    padding: 13px;
    border: 1px solid #ccc;
  }
}
